/*All em values are based on a 16px default font size, and are calculated using
the minor third ratio.

https://www.modularscale.com/?16&px&1.44

Color palette:
https://paletton.com/#uid=33X0u0kdqnN0bRy08WvIQ9QM8le
*/

html {
  line-height: 1.44em;
  font-family: 'Ropa Sans', Arial, sans-serif;
  font-size: 16px;
  -webkit-overflow-scrolling: touch;
  margin-top: 1em;
  background-color: #040836;
  color: #BEB56E;
}

h1 {
  font-weight: bold;
  padding-bottom: 0.694em;
  font-size: 2.074em;
}

h3 {
  font-size: 1.44em;
}

h1,
p,
h3 {
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

p,
label {
  font-size: 1.44em;
}

section {
  padding-bottom: 0.694em;
  padding-top: 0.694em;
}

section>p {
  padding-top: 0.335em;
  padding-bottom: 0.335em;
}

form>ol>li {
  padding-top: 1em;
}

form>ol>li>input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: #F3F3F4;
  color: #040836;
  font-family: 'Ropa Sans', Arial, sans-serif;
  font-size: 1.44em;
}

form>ol>li>label {
  padding-bottom: 0.335em;
  display: block;
  text-align: center;
}

form>ol>li>input {
  display: block;
  margin: auto;
  width: 95%;
}

.navbar {
  width: 100%;
  padding-top: 0.694em;
  padding-bottom: 0.694em;
  background-color: #4E2B00;
  overflow: auto;
}

.navbar a {
  float: left;
  color: #FFFFFE;
  text-decoration: none;
  width: 33.33%;
  text-align: center;
  padding-top: 0.694em;
  padding-bottom: 0.694em;
}

.navbar a:hover {
  background-color: #4E4600;
}

.navbar a.active {
  background-color: #A99700;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
}

@media screen and (min-width: 480px) {
  img {
    max-width: 95%;
    width: 95%;
  }
}

@media screen and (min-width: 960px) {
  form>ol>li>label {
    display: inline-block;
    padding-left: 1.44em;
    margin-right: 6.43px;
  }
  img {
    max-width: 75%;
    width: 75%;
  }
}